.sidebar .css-vt7cuc-MuiListItemText-root {
    color: #fff !important;
}

.sidebar .css-1gxhmaf-MuiListItemIcon-root {
    color: #fff !important;
}

.sidebar {
    background: #202020;
}

.color-white {
    color: white !important;
}

.css-1hhrl8g {
    display: none !important;
}

.css-7k7ju5-MuiButtonBase-root-MuiCardActionArea-root {
    color: white !important;
}

.bg-sidebar {
    background: rgb(32, 32, 32);
}

table {
    font-family: Public Sans, sans-serif !important;
    text-align: center !important;
}

/* .css-9w714p {
    display: none !important;
} */

/* color seting */
.css-26q4qm {
    max-width: 870px !important;
}

.ant-table-pagination {
    display: none !important;
}

.ant-table-cell {
    border-bottom: 2px solid #f0f0f0 !important;
    border-inline-end: 2px solid #f0f0f0 !important;
    padding: 8px 10px !important;
}

.ant-table-thead {
    border-radius: 0 !important;
}

.table-scroll {
    width: 100%;
    overflow-x: scroll;

}

.table-scroll::-webkit-scrollbar {
    height: 8px;
    transition: 0.5s;
}

.table-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(250, 250, 250, 0.3);
}

.table-scroll::-webkit-scrollbar-thumb {
    background: #fafafa46;
    background: #ffffff85;
    border-radius: 6px;
}

.table-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #796610 !important;
}

.toolbar {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

@media screen and (max-width: 570px) {
    .toolbar {
        display: inline-block;
    }
}

.select-toolbar {
    display: flex;
}

.select-toolbar .item {
    min-width: 120px;
    margin-right: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 660px) {
    .select-toolbar {
        display: block;
    }
}