.css-jjtu05 {
    /* background: rgb(32, 32, 32); */
}

.sidebar .css-vt7cuc-MuiListItemText-root {
    color: #fff !important;
}

.sidebar .css-1gxhmaf-MuiListItemIcon-root {
    color: #fff !important;
}

.css-47ifef-MuiToolbar-root {
    /* background: rgb(138, 118, 49); */
}

.color-white {
    color: white !important;
}

.css-1hhrl8g {
    display: none !important;
}

.css-7k7ju5-MuiButtonBase-root-MuiCardActionArea-root {
    color: white !important;
}

.bg-sidebar {
    background: rgb(32, 32, 32);
}
table {
    font-family: Public Sans,sans-serif !important;
    text-align: center !important;
}

/* .css-6494io-MuiButtonBase-root-MuiListItemButton-root {
    background-color: rgb(138 118 49) !important;
} */

/* .css-6494io-MuiButtonBase-root-MuiListItemButton-root:before {
    background-color: #8a7631 !important;
} */

/* .css-9w714p {
    display: none !important;
} */

.css-26q4qm {
    max-width: 870px !important;
}

/* .css-q2v5of-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-q2v5of-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #9B7E4A !important;
} */

/* .css-qw6s9w-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root:hover {
    background-color: #8a7631 !important;
} */

/* .css-n26ql7-MuiInputBase-input-MuiOutlinedInput-input:active {
    border-color: #8a7631 !important;
} */

/* .css-16of2a1-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #796621 !important;
} */
.ant-table-pagination {
    display: none !important;
}